/* Error Area  */

.bg_image--4 {
    background-position: bottom center;
    @media #{$md-layout} {
        background-position: 26% 33%;
    }
    @media #{$sm-layout} {
        background-position: 26% 33%;
    }
}


.error-area {
    height: 856px;
    display: flex;
    align-items: center;
    @media #{$md-layout} {
        height: auto;
        padding: 150px 0;
    }
    @media #{$sm-layout} {
        height: auto;
        padding: 100px 0;
    }
    .inner {
        max-width: 600px;
        @media #{$smlg-device} {
            
        }
        img {
            margin-bottom: 40px;
        }
        .title {
            margin-bottom: 20px;
        }
        p {
            margin-bottom: 30px;
        }
    }
}


.error-area a.axil-button .hover-flip-item span::after {
    color: var(--color-primary) !important;
}

.error-area a.axil-button {
    line-height: 19px !important;
}






