/*!
Theme Name: Blogar
Version: 1.1.0
Text Domain: blogar
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/* normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */


/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
	/* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/


/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}


/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

/* .post,
.page {
	margin: 0 0 1.5em;
} */

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}





/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

/*-------------------------------------
	Admin Bar
------------------------------------*/
@media only screen and (min-width: 779px) {

	body.admin-bar header.axil-header.header-sticky.sticky,
	body.admin-bar .popup-mobile-manu {
		top: 32px
	}
}

@media only screen and (max-width: 779px) and (min-width: 601px) {
	body.admin-bar header.axil-header.header-sticky.sticky {
		top: 46px
	}
}

@media only screen and (max-width: 992px) and (min-width: 779px) {
	body.admin-bar .popup-mobile-manu {
		top: 0
	}
}

@media only screen and (max-width: 779px) and (min-width: 601px) {
	body.admin-bar .popup-mobile-manu {
		top: 0
	}
}

@media only screen and (max-width: 600px) {
	body.admin-bar .popup-mobile-manu {
		top: 0
	}
}

/*-- Preloader --*/
#preloader {
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	height: 100%;
	left: 0;
	overflow: visible;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999999;
	background-size: 100px;
}


/* Text Loading*/
.text-loading .button-text {
	position: relative;
}

.text-loading .button-text::after {
	content: " Please wait... ";
	display: block;
	position: absolute;
	bottom: -45px;
	left: 50%;
	width: 100%;
	font-size: 17px;
	color: #666666;
	font-weight: normal;
	text-transform: none;
	text-align: center;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.disabled {
	pointer-events: none;
	opacity: .65;
}



/* Custom Code */
.content-block.thumb-border-rounded .post-thumbnail a img {
	border-radius: 100%;
	min-width: 250px;
	max-width: 250px;
	max-height: 250px;
	min-height: 250px;
	object-fit: cover;
}

.axil-trending-post-area .trend-post .post-content {
	width: 100%;
}

/* Caregory widget */
.list-categories .single-cat .inner {
	min-height: 180px;
	width: 100%;
	background: var(--color-primary);
}

.list-categories .single-cat .thumbnail img {
	width: 100%;
	min-height: 180px;
	object-fit: cover;
}

.post-thumbnail a img {
	object-fit: cover;
}

/* Social Networks */
ul.social-with-text li:hover a i {
	color: var(--color-white);
}


/* Creative Slider */
.axil-slide.slider-style-3 .content-block {
	display: flex;
}

/* Audio Post */
.axil-post-details audio {
	display: block;
	width: 100%;
}

.ads-container>a {
	display: inline-block;
}


.vertical-tab-with-post-area {
	display: flex;
	margin: 0;
}

.axil-vertical-nav {
	min-width: 279px;
	width: auto;
	border-right: 1px solid #CED0D4;
	padding: 30px;
}

.axil-vertical-nav-content {
	width: 83.589%;
	padding: 30px;
}

/* Elementor */
.elementor-section.elementor-section-boxed > .elementor-container {
	max-width: 1260px !important;
}

@media (max-width: 1199px) {
	.elementor-section.elementor-section-boxed > .elementor-container {
		max-width: 960px !important;
	}
}
@media (max-width: 991px) {
	.elementor-section.elementor-section-boxed > .elementor-container {
		max-width: 720px !important;
	}
}
@media (max-width: 1199px) {
	.elementor-section-full_width .elementor-container {
		max-width: 100% !important;
	}
}
@media (max-width: 991px) {
	.elementor-section-full_width .elementor-container {
		max-width: 100% !important;
	}
}
@media (max-width: 1199px) {
	.container-fluid,
	.custom-fluid-container {
		padding-left: 15px !important;
		padding-right: 15px !important;
		margin-left: auto;
		margin-right: auto;
	}
}
@media (max-width: 991px) {
	.container-fluid,
	.custom-fluid-container {
		padding-left: 15px !important;
		padding-right: 15px !important;
		margin-left: auto;
		margin-right: auto;
	}
}






@media (max-width: 1200px) {
    .axil-vertical-nav {
        padding: 0;
        width: 100% !important;
        max-width: 100% !important;
        min-width: 100% !important;
        border: none;
    }
    ul.vertical-nav-menu {
        padding: 0;
        width: 100% !important;
    }
    .vertical-tab-with-post-area {
        position: relative;
        flex-wrap: wrap;
    }
    .axil-vertical-nav-content {
        width: 100% !important;
        padding: 0;
    }
    .axil-vertical-single .content-block {
        margin-top: 20px;
    }
    .megamenu-sub-menu{
        display: none;
    }
}


/* WPML */
.wpml-ls-statics-footer.wpml-ls, p#wpml_credit_footer {
	display: flex;
	justify-content: center;
}

.axil-single-widget .gallery figure.gallery-item {
	margin: 0;
}

/** Style for href links **/
/*.axil-post-details-content a,/**/
.post-href-links a {
	outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}
.post-href-links a:link {
	border-bottom: dotted 1px #2962f9;
	color: #2962f9;
}
.post-href-links a:visited {
  color: #2962f9;
}
.post-href-links a:focus {
  background: #bae498;
	border-bottom: none;
}
.post-href-links a:hover {
  background: #e1eafd;
	border-bottom: none;
}
.post-href-links a:active {
  background: #265301;
  color: #cdfeaa;
}
/**/

/** Centered Instagram content **/
.wp-block-embed-instagram {
	min-width: 235px !important;
	width: 60% !important;
}

/** Footer Widget Blocks Divider **/
.footer-widget-item-divider {
	display: flex;
	justify-content: right; /* align horizontal */
	align-items: flex-start; /* align vertical */
}

/** Hover для баннеров в Footer **/
.footer-banner-link a {
  opacity: .3;
	padding-right: 20px;
}
.footer-banner-link a:hover {
  opacity: 1;
}

/** Category Background Image **/
.bg-category-image {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
.bg-category-image::before {
	content: "";
	background-size: cover;
	background-position: center;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: .1;
}
.slick-list .category-title {
	display: inline;
	padding: 5px 10px;
	background-color: rgba(0, 0, 0, .2);
	border-radius: 10px;
}

/** Category Background Image Style **/
.bg-category-image {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
.bg-category-image {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
.breadcrumb-style-1 {
	padding: 50px 0 60px 0;
}

/* Уменьшены отступы заголовка страницы и поста **/
.content-block.post-list-view .post-content {
	padding: 10px 20px;
}
.content-block.post-list-view .post-content .post-meta-wrapper {
 margin-top: 20px;
}
