/* -----------------------
Copyright Area  
------------------------*/

.copyright-area {
    .copyright-left {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .logo {
            margin-right: 53px;
            img {
                max-height: 37px;
            }
            @media #{$sm-layout} {
                flex-basis: 100%;
                margin-bottom: 20px;
            }
        }
    }
    .copyright-right {
        p {
            color: var(--color-midgray);
            margin: 0;
            font-size: var(--font-size-b3);
            line-height: var(--line-height-b3);
            a {
                color: var(--color-midgray);
                transition: 0.3s;
                &:hover {
                    color: var(--color-primary);
                }
            }
        }
    }
    .mainmenu {
        @extend %liststyle;
        display: flex;
        li {
            margin: 0 18px;
            @media #{$md-layout} {
                margin: 0 8px;
            }
            @media #{$sm-layout} {
                margin: 0 8px;
            }
            a {
                color: var(--color-midgray);
                font-size: 16px;
                line-height: 22px;
                display: block;
                font-weight: 500;
                @extend %transition;
                &:hover {
                    color: var(--color-primary);
                }
                &.hover-flip-item-wrapper {
                    span {
                        &::before {
                            color: var(--color-midgray);
                        }
                        &::after {
                            color: var(--color-primary);
                        }
                    }
                }
            }
            
        }
    }
    ul {
        &.mainmenu {
            flex-wrap: wrap;
            margin-bottom: -10px;
            @media #{$sm-layout} {
                margin: 5px;
            }
            li {
                margin-bottom: 10px;
                @media #{$sm-layout} {
                    margin: 5px;
                }
                &:first-child {
                    margin-left: 0;
                }
                a {
                    height: auto;
                    line-height: initial;
                    &::after {
                        display: none;
                    }
                }
            }
        }
    }
}

.copyright-default {
    border-top: 1px solid var(--color-lighter);
    p {
        font-size: var(--font-size-b3);
        line-height: var(--line-height-b3);
        margin-bottom: 0;
        color: var(--color-midgray);
        a {
            @extend %transition;
            color: var(--color-midgray);
            &:hover {
                color: var(--color-primary);
            }
        }
    }
    .mainmenu  {
        display: flex;
        @extend %liststyle;
        justify-content: flex-end !important;
        margin: -18px;
        li {
            margin: 18px;
            a {
                color: var(--color-midgray);
                @extend %transition;
                font-size: var(--font-size-b3);
                line-height: var(--line-height-b3);
                
                &:hover {
                    color: var(--color-primary);
                }
            }
        }
    }
}
.copyright-area .copyright-left .logo img.dark-logo {
    display: block;
}

.copyright-area .copyright-left .logo img.light-logo {
    display: none;
}
