/*--------------------
    Axil Comment  
----------------------*/


.axil-total-comment-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    border-bottom: 1px solid var(--color-lighter);

    @media #{$large-mobile} {
        display: block;
    }

    .add-comment-button {
        @media #{$large-mobile} {
            margin-top: 20px;
        }
    }

    a {
        transition: 0.5s;
    }
}

/*---------------------------
    Comment Form Styles  
----------------------------*/
.comment-respond {
    margin: 40px 0;

    .title {
        margin-bottom: 10px;
    }

    .comment-notes {
        font-size: 14px;
        line-height: 22px;
        color: var(--color-gray);
        margin-bottom: 30px;
    }

    .comment-form-cookies-consent {
        margin-bottom: 20px;
    }
}

/* --------------------------
    Comments Styles  
-----------------------------*/


/*---------------------------
    Axil Blog Comment
-----------------------------*/

.axil-blog-comment {
    ul {
        &.comment-list {
            list-style: none;
            padding-left: 0;

            ul {
                &.children {
                    list-style: none;
                    padding-left: 80px;

                    @media #{$md-layout} {
                        padding-left: 10px;
                    }

                    @media #{$sm-layout} {
                        padding-left: 10px;
                    }
                }
            }

            li {
                &.comment {
                    .comment-awaiting-moderation {
                        font-weight: 500;
                    }

                    .single-comment {
                        .comment-author {
                            padding: 30px 0;
                            display: flex;
                            border-bottom: 1px solid rgba(199, 199, 214, 0.4);
                            padding-bottom: 5px;
                            flex-wrap: wrap;

                            .comment-author-image {
                                padding-right: 22px;
                                margin-bottom: 15px;
                                padding-right: 0;
                                max-width: 60px;
                                margin-right: 22px;

                                img {
                                    max-height: 60px;
                                    width: 100%;
                                    max-width: 100%;
                                }

                                @media #{$sm-layout} {
                                    max-width: 50px;
                                    margin-right: 15px;
                                }
                            }

                            .axil-comment-content {
                                flex-grow: 1;
                                max-width: calc(100% - 82px);

                                @media #{$sm-layout} {
                                    max-width: calc(100% - 85px);
                                }

                                h6 {
                                    margin-bottom: 4px;
                                }

                                .axil-comment-content-top {
                                    margin-bottom: 5px;

                                    @media #{$large-mobile} {
                                        display: block;
                                    }

                                    .commenter {
                                        font-size: 16px;
                                        line-height: 22px;
                                        font-weight: 700;
                                        color: var(--color-heading);
                                        transition: 0.3s;

                                        @media #{$large-mobile} {
                                            margin-bottom: 10px;
                                        }

                                        a {
                                            font-size: 16px;
                                            line-height: 22px;
                                            font-weight: 700;
                                            color: var(--color-heading);
                                            transition: 0.3s;

                                            &:hover {
                                                color: var(--color-primary);
                                            }
                                        }
                                    }

                                    .time-spent {
                                        display: flex;
                                        margin-top: 6px;
                                        align-items: center;
                                        flex-wrap: wrap;

                                        .axil-comment-date {
                                            font-size: 15px;
                                            line-height: 24px;
                                            
                                            margin-bottom: 0;
                                            font-weight: 300;
                                            position: relative;
                                        }

                                        .reply-edit {
                                            .comment-edit-link {
                                                display: none;
                                            }

                                            .reply {
                                                a {
                                                    font-size: 14px;
                                                    line-height: 18px;
                                                    display: flex;
                                                    color: var(--color-tertiary);
                                                    margin-left: 8px;
                                                    padding-left: 8px;
                                                    position: relative;
                                                    font-weight: 500;
                                                    overflow: visible;
                                                    text-decoration: none;

                                                    &::before {
                                                        position: absolute;
                                                        content: "";
                                                        top: 50%;
                                                        -webkit-transform: translateY(-50%);
                                                        -ms-transform: translateY(-50%);
                                                        transform: translateY(-50%);
                                                        left: -2px;
                                                        width: 4px;
                                                        height: 4px;
                                                        background: var(--color-extra01);
                                                        border-radius: 100%;
                                                    }

                                                    i {
                                                        display: none;
                                                    }

                                                    span {
                                                        &::before {
                                                            color: var(--color-heading);
                                                        }
                                                    }

                                                    &:hover {
                                                        color: var(--color-primary);
                                                        text-decoration: underline;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }

                            }
                        }
                    }

                    .comment-text {
                        font-size: 16px;
                        line-height: 22px;
                        margin-top: 6px;

                        p {
                            font-size: 16px;
                            line-height: 22px;

                            margin-bottom: 22px;
                        }

                        img {
                            margin: 15px 0;
                        }
                    }
                }

                &.pingback,
                &.trackback {
                    margin-top: 0;
                    margin-bottom: 0;

                    .axil-comment-content-top {
                        margin-bottom: 5px;

                        .commenter {
                            font-size: 16px;
                            line-height: 22px;
                            font-weight: 700;
                            color: var(--color-heading);
                            transition: 0.3s;

                            @media #{$large-mobile} {
                                margin-bottom: 10px;
                            }

                            a {
                                font-size: 16px;
                                line-height: 22px;
                                font-weight: 700;
                                color: var(--color-heading);
                                transition: 0.3s;

                                &:hover {
                                    color: var(--color-primary);
                                }
                            }
                        }

                        .time-spent {
                            display: flex;
                            margin-top: 6px;
                            align-items: center;
                            flex-wrap: wrap;

                            .axil-comment-date {
                                font-size: 15px;
                                line-height: 24px;
                                margin-bottom: 0;
                                font-weight: 300;
                                position: relative;
                            }

                            .reply-edit {
                                position: relative;

                                .comment-edit-link {
                                    display: none;
                                }

                                .reply {
                                    a {
                                        font-size: 14px;
                                        line-height: 18px;
                                        display: flex;
                                        color: var(--color-tertiary);
                                        margin-left: 8px;
                                        padding-left: 8px;
                                        position: relative;
                                        font-weight: 500;
                                        overflow: visible;
                                        text-decoration: none;

                                        &::before {
                                            position: absolute;
                                            content: "";
                                            top: 50%;
                                            -webkit-transform: translateY(-50%);
                                            -ms-transform: translateY(-50%);
                                            transform: translateY(-50%);
                                            left: -2px;
                                            width: 4px;
                                            height: 4px;
                                            background: var(--color-extra01);
                                            border-radius: 100%;
                                        }

                                        span {
                                            &::before {
                                                color: var(--color-heading);
                                            }
                                        }

                                        i {
                                            display: none;
                                        }

                                        &:hover {
                                            color: var(--color-primary);
                                            text-decoration: underline;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .comment-author {
                        padding: 30px 0;
                        display: flex;
                        border-bottom: 1px solid rgba(199, 199, 214, 0.4);
                        padding-bottom: 5px;
                        flex-wrap: wrap;
                    }

                    .comment-author-image {
                        padding-right: 22px;
                        margin-bottom: 15px;
                        padding-right: 0;
                        max-width: 60px;
                        margin-right: 22px;

                        &:empty {
                            display: none;
                        }

                        img {
                            max-height: 60px;
                            width: 100%;
                            max-width: 100%;
                        }

                        @media #{$sm-layout} {
                            max-width: 50px;
                            margin-right: 15px;
                        }
                    }

                    .axil-comment-content {
                        flex-grow: 1;
                        max-width: calc(100% - 82px);

                        @media #{$sm-layout} {
                            max-width: calc(100% - 85px);
                        }
                    }

                    .comment-text {
                        font-size: 16px;
                        line-height: var(--line-height-b2);
                        margin-top: 6px;

                        p {
                            font-size: 16px;
                            line-height: var(--line-height-b2);
                            margin-bottom: 22px;
                        }

                        img {
                            margin: 15px 0;
                        }
                    }
                }
            }
        }
    }
}