/*----------------------
    Post Formate  
-----------------------*/
.banner-single-post {
    &.post-formate {
        &.alignwide {
            .content-block {
                margin: 0 -105px;
            }
        }

        .content-block {
            .post-thumbnail {
                img {
                    border-radius: 0 0 10px 10px;
                }
            }

            .post-content {
                padding-top: 80px;

                .title {
                    @media #{$sm-layout} {
                        font-size: 25px;
                    }

                    @media #{$large-mobile} {
                        font-size: 23px;
                        padding-right: 0;
                        line-height: 32px;
                    }
                }

                .post-cat {
                    margin-bottom: 20px;

                    @media #{$large-mobile} {
                        margin-bottom: 10px;
                    }
                }

                .post-meta-wrapper {
                    margin-top: 40px;
                    border-bottom: 1px solid var(--color-lighter);

                    @media #{$md-layout} {
                        margin-top: 20px;
                    }
                    @media #{$sm-layout} {
                        margin-top: 20px;
                        padding-bottom: 14px;
                    }

                    @media #{$large-mobile} {
                        margin-top: 10px;
                    }
                    .post-meta {
                        padding-bottom: 20px;
                        align-items: flex-start;
                        @media #{$sm-layout} {
                            padding-bottom: 0;
                        }
                    }
                    .social-share-transparent {
                        padding-bottom: 20px;
                        @media #{$sm-layout} {
                            padding-bottom: 15px;
                        }
                    }
                }
            }
        }
        // Post Formate Standard 
        &.post-standard {
            .post-thumbnail {
                img {
                    @media #{$sm-layout} {
                        border-radius: 10px 10px 0 0;
                    }
                }
            }
            .content-block {
                position: relative;
            }


            .post-content {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                padding: 80px 105px;
                z-index: 2;

                &::before {
                    position: absolute;
                    content: "";
                    height: 100%;
                    width: 100%;
                    bottom: 0;
                    left: 0;
                    background: linear-gradient(180deg, rgba(26, 26, 26, 0) 0%, #1A1A1A 100%);
                    opacity: 0.8;
                    z-index: -1;
                    border-radius: 0 0 10px 10px;
                    @media #{$sm-layout} {
                        opacity: 1;
                        background: #65676B;
                    }
                }

                @media #{$md-layout} {
                    padding: 50px 30px;
                }
                @media #{$sm-layout} {
                    padding: 25px 30px;
                    position: relative;
                }

                .post-author-name {
                    .hover-flip-item-wrapper {
                        span {
                            &::before {
                                color: var(--color-lightest);
                            }
                            &::after {
                                color: var(--color-primary);
                            }
                        }
                    }
                }

                .post-cat {
                    .post-cat-list {
                        a {
                            color: var(--color-lightest);
                            &.hover-flip-item-wrapper {
                                span {
                                    &::before {
                                        color: var(--color-lightest);
                                    }
                                    &::after {
                                        color: var(--color-primary);
                                    }
                                }
                            }

                            &:hover {
                                color: var(--color-primary);
                            }
                        }
                    }
                }

                .title {
                    color: var(--color-white);
                    padding-right: 10%;

                    @media #{$md-layout} {
                        padding-right: 0;
                        font-size: 25px;
                    }

                    @media #{$sm-layout} {
                        font-size: 25px;
                    }

                    @media #{$large-mobile} {
                        font-size: 18px;
                        padding-right: 0;
                        line-height: 28px;
                    }
                }

                .post-meta {
                    .post-author-name {
                        color: var(--color-white);

                        &:hover {
                            color: var(--color-primary);
                        }
                    }
                }

                ul {
                    &.post-meta-list {
                        li {
                            color: var(--color-lighter);

                            &::after {
                                background: var(--color-lighter);
                            }
                        }
                    }
                }

                ul {
                    &.social-share-transparent {
                        li {
                            a,
                            button {
                                color: var(--color-lightest);

                                &:hover {
                                    color: var(--color-primary);
                                }
                            }

                        }
                    }
                }
            }
        }

        &.post-video,
        &.post-text-only,
        &.post-layout {
            .content-block {
                .post-content {
                    padding-top: 0;
                }
            }
        }
    }

    &.post-layout-3 {
        &.post-standard {
            .post-content {
                position: static;
                padding: 80px 0;
                .post-meta-wrapper {
                    border-bottom: 1px solid var(--color-midgray);
                }
            }
        }
    }
}

.post-layout-3 {
    height: 850px;
    position: relative;
    z-index: 2;
    @media #{$sm-layout} {
        height: auto;
        padding: 50px 30px 0;
    }
    &::before {
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        bottom: 0;
        left: 0;
        background: linear-gradient(180deg, rgba(26, 26, 26, 0) 0%, #1A1A1A 100%);
        opacity: 0.5;
        z-index: 1;
        @media #{$sm-layout} {
            background: #000;
            opacity: 0.5;
        }
    }
    .content-block {
        z-index: 1;
    }
}

.content-block.post-list-view .post-thumbnail .review-count {
    height: 46px !important;
}



