/*--------------------------
    Post Details Styles  
--------------------------*/
.post-single-wrapper {
    &.axil-section-gap {
        padding-top: 50px;
        @media #{$sm-layout} {
            padding-top: 20px;
        }
    }
}



figure,
.wp-block-image {
    margin-bottom: 40px;
    position: relative;

    .post-images {
        position: relative;
    }

    img {
        border-radius: var(--radius);
    }

    figcaption {
        margin-top: 20px;
        color: var(--color-heading);
        font-size: var(--font-size-b4);
        line-height: var(--line-height-b4);
    }
}
.alignfull {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    max-width: 100vw;
    width: 100vw;
}
.alignwide {
    margin-left: -50px;
    margin-right: -50px;
    max-width: 1400px;
    width: auto;
}

.alignfull {
    margin-bottom: 40px;
}

.blocks-gallery-grid .blocks-gallery-image figcaption, 
.blocks-gallery-grid .blocks-gallery-item figcaption, 
.wp-block-gallery .blocks-gallery-image figcaption, 
.wp-block-gallery .blocks-gallery-item figcaption {
    padding: 40px 20px 20px;
}
.wp-block-columns {
    margin-bottom: 40px;
}
.wp-block-column > *:first-child {
    margin-top: 0;
}
.wp-block-column > *:last-child {
    margin-bottom: 0;
}
.wp-block-columns.alignfull, 
.alignfull:not(.has-background) .wp-block-columns {
    padding-left: 40px;
    padding-right: 40px;
}

.wp-block-separator {
    border-bottom: 1px solid var(--color-border);
}


.wp-block-table.is-style-stripes td, 
.wp-block-table.is-style-stripes th {
    border-color: transparent !important;
}


.post-single-wrapper {
    .banner-single-post {
        &.axil-section-gapBottom {
            padding-bottom: 40px;
        }
    }
}



.wp-block-cover {
    margin-bottom: 40px;
}

.wp-block-cover-image .wp-block-cover-image-text,
.wp-block-cover .wp-block-cover-text,
section.wp-block-cover-image>h2 {
    padding: 15px;
}

.wp-block-cover-image .wp-block-cover-image-text,
.wp-block-cover .wp-block-cover-text,
section.wp-block-cover-image>h2 {
    font-size: 36px;
    line-height: 1.6;
}

.wp-block-image,
.wp-block-cover {
    &.alignwide {
        margin-left: -50px;
        margin-right: -50px;
        max-width: 1400px;
        width: auto;
    }
    &.alignwide {
        margin-left: -50px;
        margin-right: -50px;
        max-width: 1400px;
        width: auto;
        @media #{$sm-layout} {
            margin-left: auto;
            margin-right: auto;
        }
        img {
            width: 100%;
        }
    }

}

.wp-block-cover {
    a {
        transition: all 0.5s;
        color: #fff;
    }
}

.axil-post-details,
.entry-content {
    p {
        &.wp-block-cover-text {
            a {
                color: #fff;
                &:hover {
                    color: var(--color-primary);
                }
            }
        }
    }
    .axil-post-details-content {
        display: block;
        
    }
    figcaption {
        font-size: 16px;
        line-height: 22px;
        color: var(--color-body);
        font-weight: 400;
        margin: 12px 0 0;
        text-align: center;
        width: 100%;
        display: block !important;
    }
    figure {
        margin-bottom: 40px;
    }

    .post-thumbnail {
        img {
            border-radius: 10px;
        }
    }
}

.axil-post-details .axil-post-details-content .wp-block-image:nth-last-of-type(1) {
    overflow: hidden;
}

.wp-block-image {
    &.alignwide {
        margin-left: -105px;
        margin-right: -105px;
    }
}

.wp-block-image.alignfull,
.wp-block-cover.alignfull {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    max-width: 100vw;
    width: 100vw;
    img {
        max-width: 100%;
        width: 100%;
    }
}


/*------------------------------
    Blog Details Area  
--------------------------------*/

.axil-post-details {
    p {
        a {
            // color: var(--color-heading);
            transition: 0.3s;
            &:hover {
                color: var(--color-primary);
            }
        }
    }

    .tagcloud {
        margin-bottom: 40px;
        margin-top: 40px;
    }

    .social-share-block {
        border-bottom: 1px solid var(--color-lighter);
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 40px;

        .post-like {
            padding-bottom: 20px;

            a {
                display: flex;
                align-items: center;

                i {
                    width: 40px;
                    height: 40px;
                    line-height: 37px;
                    border: 1px solid var(--color-lighter);
                    color: var(--color-gray);
                    border-radius: 100%;
                    text-align: center;
                    margin-right: 20px;
                    @extend %transition;
                }

                span {
                    font-size: 12px;
                    line-height: 16px;
                    color: var(--color-gray);
                }

                &:hover {
                    i {
                        background-color: var(--color-primary);
                        color: var(--color-white);
                        border-color: var(--color-primary);
                    }

                    span {
                        color: var(--color-primary);
                    }
                }
            }
        }

        .social-icon {
            padding-bottom: 20px;
        }
    }

    .wp-block-image {
        .alignleft {
            margin-right: 30px;
        }

        .alignright {
            margin-left: 30px;
        }
    }

    select {
        margin-bottom: 40px;
        background: url(../images/icons/arrow-icon.png) 98% center no-repeat transparent;
        font-size: 16px;
        line-height: 26px;
    }

    .wp-block-calendar {
        text-align: center;
        margin-bottom: 30px;

        nav {
            &.wp-calendar-nav {
                text-align: left;
            }
        }

        tfoot {
            a {
                color: var(--color-heading);

                &:hover {
                    color: var(--color-primary);
                }
            }
        }
    }

    .wp-block-group {
        &.has-background {
            margin-bottom: 40px;
            border-radius: var(--radius);
        }
    }

    .axil-post-details-content {
        p {
            img {
                border-radius: var(--radius);
            }
        }
    }

    .post-password-form {
        input {
            height: 50px;
            border-radius: 500px;
        }
    }
}


// About Author 
.about-author {
    padding: 40px 0;
    border-bottom: 1px solid var(--color-lighter);
    .thumbnail {
        a {
            img {
                border-radius: 100%;
                margin-right: 53px;
                margin-bottom: 20px;

                @media #{$sm-layout} {
                    margin-right: 20px;
                }
            }
        }
    }

    .media-body {
        .author-info {
            .title {
                margin-bottom: 0;

                a {
                    @extend %transition;

                    .hover-flip-item {
                        span {
                            &::before {
                                color: var(--color-heading);
                            }

                            &::after {
                                color: var(--color-primary);
                            }
                        }
                    }
                }
            }

            .subtitle {
                color: var(--color-gray);
                display: block;
                margin-top: 10px;
                display: block;

                @media #{$sm-layout} {
                    margin-top: 8px;
                }
            }
        }

        .content {
            .description {
                margin-top: 20px;
                margin-bottom: 0;

                @media #{$sm-layout} {
                    margin-top: 6px;
                }
            }

            .social-share-transparent {
                margin-top: 20px;

                @media #{$sm-layout} {
                    margin-top: 12px;
                }
            }
        }
    }
}

// Tagcloud
.tagcloud,
.wp-block-tag-cloud {
    margin: -5px;
    display: flex;
    flex-wrap: wrap;
    a {
        border: 1px solid var(--color-lighter);
        font-size: 12px !important;
        color: var(--color-gray) !important;
        height: 30px;
        padding: 0 10px;
        margin: 5px;
        display: inline-block;
        line-height: 27px;
        border-radius: 4px;
        @extend %transition;
        &:hover {
            background-color: var(--color-primary);
            color: #ffffff !important;
            border-color: var(--color-primary);
        }
    }
}

/*-----------------------
    BlockQuote  
------------------------*/

.wp-block-pullquote {
    border-top: 4px solid var(--color-primary);
    border-bottom: 4px solid var(--color-primary);
    color: var(--color-gray);
}


.wp-block-quote,
blockquote,
.wp-block-coblocks-click-to-tweet,
.wp-block-pullquote blockquote,
.wp-block-quote.is-style-large,
.wp-block-quote.is-large,
blockquote.has-text-align-right,
.wp-block-quote.has-text-align-right {
    position: relative;
    border-left: 0;
    font-style: normal;
    background: #F0F2F5;
    border-radius: 0;
    margin: 40px 0;
    @media #{$sm-layout} {
        margin: 20px 0;
    }
    p {
        margin-bottom: 0;
        font-style: normal;
    }

}

.wp-block-quote.has-text-align-right {
    border-left: 0;
    border-right: 0 transparent;
}


.wp-block-pullquote.alignleft blockquote,
.wp-block-pullquote.alignright blockquote,
.wp-block-pullquote.alignleft blockquote p,
.wp-block-pullquote.alignright blockquote p,
.wp-block-pullquote blockquote,
.wp-block-pullquote p {

}


.wp-block-quote.is-large p,
.wp-block-quote.is-style-large p {
    font-size: 28px;
    line-height: 1.67;
}



.alignright blockquote {

}

.axil-blog-details-area blockquote p {

}

.wp-block-pullquote {
    border-top: 4px solid var(--color-primary);
    border-bottom: 4px solid var(--color-primary);
    border-left: none;
    padding: 30px 0;
    blockquote {
        margin: 0;
        border: 0 none;
    }
}


blockquote,
.wp-block-pullquote {
    &.wp-block-quote,
    blockquote {
        position: relative;
        padding: 24px 30px;
        padding-top: 87px;
        border-radius: var(--radius) !important;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        color: var(--color-gray);

        &::after {
            position: absolute;
            content: "";
            top: 28px;
            left: 30px;
            font-family: var(--font-awesome);
            width: 50px;
            height: 50px;
            background: #fff;
            text-align: center;
            line-height: 50px;
            border-radius: 100%;
            font-weight: 700;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            font-style: normal;
            font-size: 20px;
            color: var(--color-heading);
        }

        p {
            font-weight: 500;
            font-size: 24px;
            line-height: 36px;
            color: var(--color-gray);
            a {
                color: var(--color-gray);
            }
            em {
                font-style: normal;
            }
        }

        cite {
            font-size: var(--font-size-b4);
            line-height: var(--line-height-b4);
            color: var(--color-extra01);
        }

        &.is-style-large {
            padding: 24px 30px;
            padding-top: 100px;
            cite {
                font-size: var(--font-size-b2) !important;
                line-height: var(--line-height-b2);
            }
        }
        &.has-text-align-right {
            &::after {
                left: auto;
                right: 30px;
            }
        }

        &.has-light-gray-color {
            &::after {
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}

blockquote,
.wp-block-quote {
    position: relative;
    padding: 24px 30px;
    padding-top: 87px;
    border-radius: var(--radius) !important;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: var(--color-gray);
    &::after {
        position: absolute;
        content: "";
        top: 28px;
        left: 30px;
        font-family: var(--font-awesome);
        width: 50px;
        height: 50px;
        background: #fff;
        text-align: center;
        line-height: 50px;
        border-radius: 100%;
        font-weight: 700;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        font-style: normal;
        font-size: 20px;
        color: var(--color-heading);
    }

    p {
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        color: var(--color-gray);
        a {
            color: var(--color-gray);
        }
        em {
            font-style: normal;
        }
    }

    cite {
        font-size: var(--font-size-b4) !important;
        line-height: var(--line-height-b4);
        color: var(--color-extra01);
    }
    &.is-style-large,
    &.is-large {
        padding: 24px 30px;
        padding-top: 100px;
    }
    &.has-text-align-right {
        &::after {
            left: auto;
            right: 30px;
        }
    }

    &.has-light-gray-color {
        &::after {
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.wp-block-pullquote {
    blockquote {
        &::after {
            left: 50%;
            transform: translateX(-50%);
        }
    }
}


ol.has-avatars, 
ol.wp-block-latest-comments {
    padding-left: 0;
}
.wp-block-latest-comments li a {
    color: var(--color-heading);
}

.wp-block-latest-comments li a:hover {
    color: var(--color-primary);
}




/*----------------------------
    Quote Post List  
----------------------------*/
.content-block {
    &.format-quote {
        background: #F0F2F5;
        border-radius: var(--radius);
        .post-content {
            position: relative;
            padding: 32px 30px;
            padding-top: 83px;
            &::after {
                position: absolute;
                content: "";
                top: 22px;
                left: 30px;
                font-family: var(--font-awesome);
                width: 50px;
                height: 50px;
                background: #fff;
                text-align: center;
                line-height: 50px;
                border-radius: 100%;
                font-weight: 700;
                box-shadow: 0 0 10px rgba(0,0,0,0.1);
            }
            blockquote {
                background: transparent;
                padding-left: 0;
                padding-top: 0;
                &::after {
                    display: none;
                }
                h4 {
                    font-size: 24px;
                    line-height: 36px;
                    font-weight: 500;
                    color: #65676B;
                    font-style: normal;
                }
            }
        }
        &:hover {
            .post-content {
                box-shadow: none;
                background: #F0F2F5;
                border-color: transparent;
            }
        }
    }
}



/*------------------------
    Active Sidebar Blog  
--------------------------*/
.active-sidebar-blog {
    .wp-block-cover {
        .wp-block-cover-text {
            color: #ffffff;
        }
    }
}


/*-------------------------
    Post Single Page  
---------------------------*/

.axil-post-details  {
    iframe {
        border-radius: var(--radius);
        outline: none;
    }

}


.single-format-quote {
    .banner-single-post {
        .content-block {
            background: #F0F2F5;
            border-radius: var(--radius);
            .post-content {
                position: relative;
                padding: 32px 30px;
                padding-top: 85px !important;
                &::after {
                    position: absolute;
                    content: "";
                    top: 22px;
                    left: 30px;
                    font-family: var(--font-awesome);
                    width: 50px;
                    height: 50px;
                    background: #fff;
                    text-align: center;
                    line-height: 50px;
                    border-radius: 100%;
                    font-weight: 700;
                    box-shadow: 0 0 10px rgba(0,0,0,0.1);
                    color: var(--color-primary);
                }
                blockquote {
                    background: transparent;
                    padding-left: 0;
                    padding-top: 0;
                    margin-bottom: 10px;
                    margin-top: 10px;
                    padding-bottom: 10px;
                    &::after {
                        display: none;
                    }
                    .title {
                        color: #65676B;
                        font-style: normal;
                    }
                    .author {
                        .info {
                            h6 {
                                margin-bottom: 10px;
                                font-style: normal;
                            }
                            p {
                                margin-bottom: 10px;
                                font-size: var(--font-size-b3);
                                line-height: var(--line-height-b3);
                            }
                        }
                    }
                    .post-meta-wrapper {
                        margin-top: 0;
                    }
                }
            }
        }
    }
}


.axil-post-details-content {
    // Single Blog Style 
    .wp-block-latest-posts {
        &.wp-block-latest-posts__list {
            li {
                a {
                    font-size: var(--font-size-b2);
                    line-height: var(--line-height-b2);
                    color: var(--color-heading);
                    font-weight: 700;
                    transition: 0.3s;


                    &:hover {
                        color: var(--color-primary);
                    }
                }
            }
        }
    }

    .wp-block-search {
        margin-bottom: 40px;
        .wp-block-search__input {
            height: 50px;
            border-radius: 500px;
        }
    }
    .wp-block-tag-cloud {
        margin-bottom: 40px;
    }
}


.wp-block-cover__video-background {
    border-radius: 10px;
}

.wp-block-table td br {
    display: none;
}

/* Block Page Style Css  */ 

.wp-block-embed iframe,
iframe {
    border-radius: 10px;
}

/* ----------------------
Entry Content 
-------------------------*/
.entry-content {
    img {
        border-radius: var(--radius);
    }
}

/*--------------------
    Post Review  
----------------------*/
.axil-post-review {
    position: relative;
    background: #f9f9f9;
    padding: 30px;
    border-radius: 10px;
    .axil-post-review__product {
        padding-right: 14%;
        @media #{$sm-layout} {
            display: block;
        }
        .media-left {
            max-width: 200px;
            margin-right: 30px;
            min-height: 200px;
            height: 200px;

            @media #{$sm-layout} {
                max-width: 100%;
                margin-right: 30px;
                min-height: auto;
                height: auto;
            }
            .axil-post-review__product-image {
                height: 100%;
                width: 100%;
                img {
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                    border-radius: 10px;
                }
            }
        }
        .axil-post-review-name {
            margin-bottom: 12px;
            font-size: 24px;
        }
        .axil-post-review-description {
            font-size: 16px;
            line-height: 27px;
            display: inline-block;
        }
        .media-body {
            @media #{$sm-layout} {
                padding-top: 30px;
            }
        }
    }
    .axil-post-review__top {
        position: relative;
        margin-bottom: 30px;
    }

    .axil-post-review__overall-score {
        position: absolute;
        top: 0;
        right: 0;
        background: var(--color-primary);
        width: 60px;
        height: 60px;
        border-radius: 10px;
        line-height: 60px;
        text-align: center;
        .post-score-value {
            font-size: 29px;
            color: #fff;
            font-weight: 500;
        }
    }

    .axil-post-review__pros ,
    .axil-post-review__cons {
        ul {
            list-style: none;
            padding-left: 0;
            margin-bottom: 0;
            li {
                margin-top: 5px;
                margin-bottom: 5px;
                i {
                    color: var(--color-success);
                    margin-right: 10px;
                }
            }
        }
    }
    .axil-post-review__cons {
        ul {
            li {
                i {
                    color: var(--color-danger);
                }
            }
        }
    }
    .axil-post-review__summary {
        p {
            margin-bottom: 30px;
            font-size: var(--font-size-b2);
            line-height: var(--line-height-b1);
        }
    }
}


/*-----------------------
    Code New  
-------------------------*/
.banner-single-post.post-layout-3.post-formate.post-standard .post-content::before {
    display: none;
}
a#cancel-comment-reply-link {
    padding-left: 33px;
    font-size: 16px;
    color: #f10;
    font-weight: 500;
    position: relative;
}
a#cancel-comment-reply-link::before {
    position: absolute;
    font-family: var(--font-awesome);
    content: "\f00d";
    left: 17px;
    top: 50%;
    transform: translateY(-50%);
}

:root .has-pale-pink-background-color {
    background-color: #000;
}

.banner-single-post {
    ul {
        li {
            &.post-meta-tags {
                font-size: var(--font-size-b4);
                line-height: 18px;
                a {
                    color: var(--color-gray);
                    transition: 0.3s;
                    &:hover {
                        color: var(--color-primary);
                    }
                }
            }
        }
    }
    .breadcrumb-wrapper {
        padding-bottom: 0;
        li {
            margin-bottom: 0;
        }
    }
}


.wp-block-gallery {
    &.alignfull {
        .blocks-gallery-grid, 
        .wp-block-gallery {
            padding: 0 27px;
        }
    }
}









