/* --------------------
Sidebar Styles  
----------------------*/
.widget-sidebar {
    margin-top: 30px;
    @media #{$md-layout} {
        margin-top: 30px;
    }
    @media #{$sm-layout} {
        margin-top: 30px;
    }
}

.axil-single-widget,
.widget-sidebar {
    background: #FBFBFD;
    @extend %radius;
    padding: 30px;
    @media #{$sm-layout} {
        padding: 20px;
    }
    &:last-child {
        margin-bottom: 0;
    }
    &:first-child {
        margin-top: 0 !important;
    }
    
    input {
        height: 40px;
        border-radius: 44px;
        font-size: var(--font-size-b3);
        line-height: var(--line-height-b3);
        color: var(--color-gray);
        padding: 0 30px;
    }

    .form-submit {
        button,
        a {
            &.axil-button {
                height: 40px;
                line-height: 34px;
            }
        }
    }

    .widget-title {
        border-bottom: 1px solid var(--color-lighter);
        padding-bottom: 7px;
        margin-bottom: 20px;
        text-align: center;
    }
    .widget-title {
        h3 {
            font-size: var(--h5);
            line-height: 1.24;
            margin-bottom: 0;
        }
    }

    // Widget Instagram 
    &.widget_instagram {
        .instagram-post-list-wrapper {
            @extend %liststyle;
            display: flex;
            margin: -4px;
            flex-wrap: wrap;
            .instagram-post-list {
                flex-basis: 33.33%;
                padding: 4px;
                margin: 0;
                @media #{$md-layout} {
                    flex-basis: 20%;
                }
               
                @media #{$sm-layout} {
                    flex-basis: 33.33%;
                }
                a {
                    display: block;
                    width: 100%;
                    overflow: hidden;
                    @extend %radius;
                    img {
                        @extend %radius;
                        width: 100%;
                        transition: 0.5s;
                    }
                }
                &:hover {
                    a {
                        img {
                            transform: scale(1.1);
                        }
                    }
                }
            }

        }
    }

    // Widget Search 
    &.widget_search {
        .axil-search {
            &.form-group {
                display: block;

                input {
                    height: 40px;
                    border: 0 none;
                    max-width: 100%;
                    font-size: 14px;
                    line-height: 22px;
                    padding-left: 44px;
                    @extend %transition;
                    border: 1px solid transparent;
                    &:focus {
                        border-color: var(--color-primary);
                    }
                }

                button {
                    &.search-button {
                        i {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }


    &.widget_ads {
        padding: 0;
        background-color: transparent;
        text-align: center;
        .thumbnail {
            a {
                display: block;
            }
        }
    }

    &.widget_newsletter {
        p {
            br {
                @media #{$lg-layout} {
                    display: none;
                }
            }
        }
    }

    &.widget-style-2 {
        background: #fff;
        &.widget_categories {
            background: transparent;
        }

        &.widget_post {
            .content-block {
                .post-content {
                    margin-top: 10px;
                }
            }  
        }
    }

    // Widget Bloagar Categories 
    &.widget_blogar_categories {
        background: transparent !important;
    }

    // Widget Categories 
    &.widget_blogar_categories {
        background: transparent !important;
        padding: 0;
        ul {
            @extend %liststyle;
            display: flex;
            flex-wrap: wrap;
            margin: -5px;
            li {
                &.cat-item {
                    padding: 5px;
                    margin: 0;
                    flex-basis: 50%;
                    .inner {
                        background: #FBFBFD;
                        @extend %radius;
                        display: flex;
                        padding: 5px;
                        align-items: center;
                        min-height: 70px;
                        .thumbnail {
                            width: 50px;
                            min-width: 50px;
                            min-height: 50px;
                            border-radius: 100%;
                            
                            img {
                                width: 100%;
                                border-radius: 100%;
                                height: 100%;
                                object-fit: cover;
                                min-height: 50px;
                            }
                        }
                        .content {
                            margin-left: 15px;
                            .title {
                                margin-bottom: 0;
                                color: var(--color-gray); 
                                @extend %transition;
                            }
                        }
                        &:hover {
                            .content {
                                .title {
                                    color: var(--color-primary); 
                                }
                            }
                        }
                    }
                }
            }

        }
    }

    select {
        @extend %transition;
        height: 40px;
        padding: 0 20px;
        outline: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: 1px solid var(--color-border);
        border-radius: 4px;
        background: url(../images/icons/arrow-icon.png) 95% center no-repeat transparent;
        padding-right: 32px;
        color: #65676B;
        font-size: 14px;
        line-height: 22px;
    }

    .gallery {
        margin: -5px;
        .gallery-item {
            padding: 5px;
            img {
                border-radius: var(--radius);
            }
        }
    }
    
}



/*---------------------
    Widget Ress  
-----------------------*/

.widget_rss {
    ul {
        li {
            a {
                color: var(--color-heading);
                text-decoration: none;
                @extend %transition;
                display: block;
                &:hover {
                    color: var(--color-primary);
                }
            }
            span {
                &.rss-date{
                    font-size: 14px;
                }
            }
            .rssSummary {
                margin-top: 9px;
            }
            cite {
                margin-top: 4px;
                display: inline-block;
                font-weight: 500;
                font-size: 14px;
            }
        }
    }
}




/*---------------------
    Tag Cloud 
-----------------------*/

.tagcloud {
    display: flex;
    flex-wrap: wrap;
    margin: -5px;
    a {
        border: 1px solid var(--color-lighter);
        font-size: 14px !important;
        color: var(--color-gray);
        height: 40px;
        padding: 0 20px;
        margin: 5px;
        display: inline-block;
        line-height: 39px;
        border-radius: 500px;
        @extend %transition;
        &:hover {
            background: var(--color-primary);
            color: #ffffff;
            border-color: var(--color-primary);
        }
    }
}


// Text Widget 
.textwidget {
    img {
        margin: 10px 0;
    }
    p {
        &:empty {
            display: none;
        }
    }
}

.widget_calendar,
table ,
.wp-block-calendar {
    font-size: 16px;
    line-height: 28px;
    caption {
        caption-side: top;
        margin: 0;
        padding: 7px 0;
        font-size: 18px;
        padding-top: 0;
        line-height: 19px;
        padding-bottom: 14px;
        
    }
    th,
    td  {
        border: 1px solid var(--color-border) !important;
        padding: 7px 10px !important;
        text-align: center !important;
        color: var(--color-body);
        &#today {
            background: var(--color-primary);
            color: #ffffff;
            a {
                color: #ffffff;
                @extend %transition;
                &:hover {
                    color: #ffffff;
                }
            }
        }
    }
}

nav {
    &.wp-calendar-nav {
        span {
            a {
                display: inline-block;
                line-height: 14px;
            }
        }
    }
}




.axil-single-widget .newsletter-inner .form-submit button.axil-button {
    line-height: 18px;
}











